.button{

    color: white;
    background-color:#4e55bd;
    border: none;
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.8rem;
    padding: $m-size;
    display: inline-block;
    text-decoration: none;
    line-height: 1;

}

.button:hover{
    background-color:#4751d6;

}

.button-modify{
    background: none;
}
.button-second{
    background: #888;
}
