.header {
    background-color: #364051;
}
.header-title{
    color: white;
    text-decoration: none;
    h1{
        margin: 0;

    }
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size 0;
}