.list-header{
    background: #f7f7f7;
    border: 1px solid darken($color:#f7f7f7, $amount: 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $m-size $l-size;
}

.list-item{
    display: flex;
    flex-direction: column;
    border:1px solid darken($color: #f7f7f7, $amount: 7%);
    border-top:none;
    color: $grey;
    padding: $m-size;
    text-decoration:none;
    transition: background .3s ease;
    &:hover{
        background: #f7f7f7;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}
.list-item-title {
    margin: 0;
    word-break: break-all;
}
.list-item-sub{
    color: $grey;
    font-size: 1.4rem;
}

.list-item-data{
    margin: $m-size 0 0 0;
    @media (min-width:$desktop-breakpoint) {
        margin: 0;
        padding-left: $m-size;

    }
}

.list-msg{
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
        background: none;
    }

}
.list-body{
    margin-bottom: 50px;
    @media (min-width:$desktop-breakpoint) {
        margin-bottom: 100px;
        
    }
}
